.awesomplete [hidden] {
	display: none;
}

.awesomplete .visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.awesomplete {
	display: table;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-height: 3vh;
}

.awesomplete > input {
	display: block;
	font-size: 150%;
	border: #D0F4FB;
	padding: 2% 2% 2% 2%;
}

.awesomplete > ul {
	position: absolute;
	left: 0;
	z-index: 1;
	min-width: 104%;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	margin: 0;
	background: #fff;
	overflow: auto;
}

.awesomplete > ul:empty {
	display: none;
}

.awesomplete > ul {
	border-radius: .3em;
	margin: .1em 0 0;
	background: white;
	border: 1px solid #E74054;
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

	.awesomplete > ul > li {
		position: relative;
		padding: .2em .5em;
		cursor: pointer;
		border-bottom: 1px solid #E74054;
	}

	.awesomplete > ul > li:hover {
		background: #EF7C8AAA;
		color: black;
	}

	.awesomplete > ul > li[aria-selected="true"] {
		background: #EF7C8AAA;
		color: black;
	}

	.awesomplete mark {
		background: #D0F4FB;
		color: black;
	}

	.awesomplete li:hover mark {
		background: #D0F4FB;
		color: black;
	}

	.awesomplete li[aria-selected="true"] mark {
		background: #D0F4FB;
		color: black;
	}