/* General */
* {
	box-sizing: border-box;
}

html, body{
    margin:0 auto;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    font-family: Rockwell;
	background-color: #D0F4FB;
}

/* Header */
header {
	width:100%;
	position: fixed;
	top:0;
	background-color: #E74054;
}

#bar-graph {
	position: relative;
}

#question-mark {
	position: relative;
}

/* Footer */
footer {
	width:100%;
	position: fixed;
	bottom: 0;
	background-color: #E74054; 
	color: #D0F4FB;
}

#acknowledgements {
	text-align: right;
}

a {
	color: #D0F4FB;
}

a:hover {
	color: #a99c9c;
}

/* Main Screen */
.title {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	color: #E74054;
}

.subtitle {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #E74054;
}

input:disabled {
	background: white;
	color: black;
}

#awesomplete_list_1 {
		z-index: 999;
}

#image-hint {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
	text-decoration: underline;
	width: fit-content;
	color: #E74054;
}

#image-hint:hover, #image-hint:focus {
	cursor: pointer;
}

/* General Modal Specs */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #E74054;
	padding-left: 1.5vw;
	padding-right: 1vw;
	margin: 10vh auto;
	color: #D0F4FB;
	font-weight: bold;
}

.close {
	color: #D0F4FB;
	opacity: 0.65;	
	position: relative;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #D0F4FB;
	opacity: 100%;
	text-decoration: none;
	cursor: pointer;
}

/* Bar Graph Modal (stats) */
.stat {	
	float: left;
	text-align: center;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.graph {
	position: relative;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: flex-end;
	width: 85%;
}

.bar {
	width: 12.5%;
	margin: 0 1%;
	display: inline-block;
	position: relative;
	bottom: 0;
	vertical-align: baseline;
	text-align: center;
	background-color: #D0F4FB;
	color: #E74054;
}

.guessNumber {
	position: relative;
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: fit-content;
	font-weight: bolder;
}

.label {
	font-weight: bolder;
	width: 12.5%;
	margin: 0 1%; 
	display: inline-block;
	position: relative;
	vertical-align: baseline;
	text-align: center; 
	color: #D0F4FB;
}

#labels {
	display: flex;
	position: relative;
	align-items: flex-end;
	margin-left: auto;
	margin-right: auto;
	width: 85%
}

#guessLabel {
	text-align: center;
}

/* Question Mark Modal (instructions) */
#instruction-title {
	text-align: center;
}

.item {
	line-height: 200%;
}

.bold {
	font-weight: bolder;
}

#green {
	background-color: green;
	color: #c3f5fe;
}

#yellow {
	background-color: yellow;
	color : #E74054;
}

/* Image Hint Modal (hint, correct, wrong) */
.images {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#identify {
	text-align: center;
}

#correct {
	text-align: center;
}

#correctAnswer {
	text-align: center;
}

#wrong {
	text-align: center;
}

#wrongAnswer {
	text-align: center;
}

/* Table */
#table {
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: none;
}

.divTableRow {
	display: table-row;
}

.divTableHead {
	display: table-cell;
	padding: 3px 10px;
	border: solid 0.0625em grey;
	width: 25vw;
	word-wrap: break-word;
	vertical-align: middle;
}

.divTableHeading {
	background: #ebebeb;
	display: table-header-group;
	font-weight: bold;
	position: sticky;
	top: 0;
	z-index: 1;
}

.divTableBody {
	display: table-row-group;
	background-color: white;
}

#tableBody div {
	        animation-name: fadein;
	        animation-name: colorchange;
	        animation-duration: 1.5s;
}

.divTableCell {
	display: table-cell;
	padding: 3px 10px;
	border: solid 0.0625em grey;
	width: 25vw;
	word-wrap: break-word;
	vertical-align: middle;
}

#row-1,
#row-2,
#row-3,
#row-4,
#row-5,
#row-6,
#row-7,
#row-8 {
	display:none;
}

.match {
	font-weight: bolder;
}

/* Animations */
@keyframes fadein {
    0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes colorchange {
	0% {
		border-color: #D0F4FB;
		background-color: #D0F4FB;
		color: #D0F4FB;
	}

	100% {
		border-color:grey;
		color: black;
	}
}

@keyframes animatetop {
	0% {
	 margin-top: -100%;
   }
   100% {
	 margin-top: 10vh;
   }
 }

@keyframes enterleft {
	from {
		margin-left: -50%;
	}

	to {
		margin-left: 12.5%;
	}
}

@keyframes exitright {
	from {
		margin-left: 12.5%;
	}

	to {
		margin-left: 100%;
	}
}

/* Responsiveness */
/* X-Small devices (portrait phones, less than 576px) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	/* Header */
	header {
		height:6vh;
	}
	
	#bar-graph, #question-mark {
		top: 1vh;
		width: 4vh;
		height: 4vh;
	}

	#bar-graph {
		left: 25vw;
	}
	
	#question-mark {
		left: 63.5vw;
	}

	/* Footer */
	footer {
		height: 10vh;
	}

	#acknowledgements {
		font-size: 1rem;
		margin-top: 2.5vh;
		margin-right: 2vw;
	}

	/* Main Screen */
	.title {
		font-size: 2rem;
		margin-top: 3vh;
	}

	.subtitle {
		font-size: 1.5rem;
		margin-top: -6vh;
	}

	#type-guess,
	.awesomplete > ul > li {
		font-size: 1.25rem;
	}

	.awesomplete > ul {
		max-height: 50vh;
	}
	
	#image-hint {
		font-size: 1.5rem;
		margin-top: 2vh;
	}

	/* General Modal Specs */
	.modal-content {
		height: 75vh;
		width: 75vw;
	}

	.close {
		font-size: 2rem;
		left: 68vw;
	}

	#image-hint-content-enter,
	#wrong-content-enter,
	#correct-content-enter {
		        animation-name: enterleft;
		        animation-duration: 1s;
	}
	
	#image-hint-content-exit,
	#wrong-content-exit,
	#correct-content-exit {
		        animation-name: exitright;
		        animation-duration: 1s;
	}

	/* Bar Graph Modal (stats) */
	#graph-content {
		animation-name: fadein;
		animation-duration: 0.7s;
	}

	.stat {	
		font-size: 1.25rem;
		margin-bottom: 5vh;
	}

	.graph {
		height: 45vh;
	}

	.guessNumber, .label {
		font-size: 1.25rem;
	}

	.label {
		margin-top: 1vh;
	}

	#guessLabel {
		font-size: 1.75rem;
		margin-top: 1vh;
		margin-bottom: 1vh;
	}
	
	/* Question Mark Modal (instructions) */
	#question-mark-content {
		animation-name: animatetop;
		animation-duration: 1s;
	}

	#instruction-title {
		font-size: 2.5rem;
		margin-top: -3vh;
	}

	.list {
		font-size: 1.2rem;
		margin-top: -3vh;
		padding-right: 2.5vw;
	}

	/* Image Hint Modal (hint, correct, wrong) */
	.images {
		height: 50vh;
		width: 70vw;
	}
		
	#identify {
		font-size: 1.75rem;
		margin-top: 5vh;
	}

	#correct {
		font-size: 3rem;
		margin-top: -2vh;
		margin-bottom: 0vh;
	}
	
	#correctAnswer {
		font-size: 1.5rem;
		margin-top: 2vh;
	}
	
	#wrong {
		font-size: 1.5rem;
		margin-top: -1vh;
		margin-bottom: 1.5vh;
	}
	
	#wrongAnswer {
		font-size: 1.5rem;
		margin-top: 2vh;
	}

	/* Table */
	#table {
		height: 43vh;
		width: 95vw;
	}

	.divTableHead {
		height: 7vh;
		font-size: 1rem;
	}

	.divTableCell {
		height: 5vh;
		font-size: 0.8rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}